<div class="image">
    <div class="container" id="container"
        style="width: 1000px; background-color: rgba(255, 255, 255, 0.342); position: relative; top: 2cm; border-radius: 15px;">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <br>
                    <h1 align="center">Register</h1>
                    <div class="form-group">
                        <label for="Fname">First name</label>
                        <input class="form-control" type="text" placeholder="First name" /><br>
                        <label for="Lname">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name" /><br>
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" placeholder="E-mail" /><br>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password"><br>
                        <label for="Cpassword">confirm Password</label>
                        <input type="password" class="form-control" placeholder="confirm password"><br>
                        <input type="button" value="Register" class="btn btn-primary">
                        <span class="btn btn-secondory" routerLink="/login">Back</span>
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                <br><br>
                <h3 align="center">Register with services</h3><br>
                <input type="button" value="Register with google" class="btn btn-primary btn-block" style="height: 1.5cm;"><br>
                <input type="button" value="Register with Facebook" class="btn btn-primary btn-block" style="height: 1.5cm;">
            </div>
            <br>
        </div>
    </div>
</div>