<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <form [formGroup]="form" *ngIf="form">
        <div class="form-group">
          <textarea rows="4" class="form-control" formControlName="content" placeholder="Type here to post"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100" (click)="onPost()">Post</button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      List of current posts
      <div *ngFor="let post of news">
        <img [src]="post.avatar" width="48" height="48">
        <h2>{{post.addedBy}}</h2>
        <span>{{post.addedOn | date}}</span>
        <p>{{post.content}}</p>
      </div>
      <button class="btn btn-primary" (click)="getNews()" *ngIf="more">Load more</button>
    </div>
  </div>
</div>